# ignore log files and databases
*.log
*.sql
*.sqlite
*.DS_Store

# node modules
node_modules/

# build products
dist/css/style.min.css
dist/js/scripts.min.js
dist/js/cookies.min.js
dist/css/home.min.css
